## 1.Create a function that takes a base number and an exponent number and returns the calculation.

### Examples
* calculate_exponent(5, 5) ➞ 3125

* calculate_exponent(10, 10) ➞ 10000000000

* calculate_exponent(3, 3) ➞ 27

In [1]:
base = int(input())
exponent = int(input())

result = 1
for _ in range(exponent):
    result *= base
print(result)

10
3
1000

#2 Create a function that takes a list of n numbers. Return the  n largest number in the list

In [ ]:
base = int(input())
exponent = int(input())

result = 1
for _ in range(exponent):
    result *= base
print(result)



# 3 Create a function that takes a list of n numbers and returns the smallest number in the list

In [ ]:
input_list = [int(x) for x in input("Enter a list of numbers separated by spaces: ").split()]
smallest_number = input_list[0]

for num in input_list:
    if num < smallest_number:
        smallest_number = num

print("Smallest number:", smallest_number)

In [ ]:
#4 Create a function that takes a list and returns the difference between the biggest and smallest numbers.
difference_max_min([10, 4, 1, 4, -10, -50, 32, 21]) ➞ 82
# Smallest number is -50, biggest is 32.

In [ ]:
input_list = [int(x) for x in input("Enter a list of numbers separated by spaces: ").split()]
largest_number = input_list[0]
smallest_number = input_list[0]

for num in input_list:
    if num > largest_number:
        largest_number = num
    if num < smallest_number:
        smallest_number = num

difference = largest_number - smallest_number

print("Difference between largest and smallest:", difference)

#5 Create a function that takes a list and returns the sum of all numbers in the list

In [ ]:
input_list = [int(x) for x in input("Enter a list of numbers separated by spaces: ").split()]
sum_of_numbers = 0

for num in input_list:
    sum_of_numbers += num

print("Sum of all numbers:", sum_of_numbers)

#6 Create a function that takes a number (from 1 - 60) and returns a corresponding string of hyphens.

In [ ]:
num = int(input("Enter a number from 1 to 60: "))
hyphen_string = ""

for i in range(num):
    hyphen_string += "-"
    
print(hyphen_string)

#7 Write a function that takes an integer and returns a string with the given number of "a"s in Edabit.

In [ ]:
num = int(input("Enter a number: "))
result = "Ed"

for i in range(num):
    result += "a"
result += "bit"

print(result)

#8 Mubashir created an infinite loop! Help him by fixing the code in the code tab to pass this challenge. Look at the examples below to get an idea of what the function should do.

In [ ]:
input_values = [5, 4, 3, 2, 1, 0]
result = True

for value in input_values:
    if not value:
        result = False
        break

print(result)

## 9.Create a function that returns True if all parameters are truthy, and False otherwise.

In [ ]:
num = int(input("Enter a number: "))
result = []

for current_number in range(1, num + 1):
    result.append(current_number)

print(result)

## 10.Create a function that returns the last value of the last item in a list or string.

In [ ]:
input_value = input("Enter a list or string: ")
last_item = None

for item in input_value:
    last_item = item

print("Last value of the last item:", last_item)

## 11.Write a function that turns a comma-delimited list into an array of strings.

In [ ]:
input_string = input("Enter a comma-delimited list: ")
string_array = []
current_string = ""

for char in input_string:
    if char == ",":
        string_array.append(current_string)
        current_string = ""
    else:
        current_string += char

string_array.append(current_string)

print(string_array)

## 12.Scientists have discovered that in four decades, the world will EXPLODE! It will also take three decades to make a spaceship to travel to a new planet that can hold the entire world population.

In [ ]:
current_population = int(input("Enter the current world population: "))
births_per_month = int(input("Enter the number of births per month: "))
years_in_future = 30
months_in_three_decades = years_in_future * 12
future_population = current_population

for months_passed in range(months_in_three_decades):
    future_population += births_per_month

print("Number of people in three decades:", future_population)

## 13.Create a function that returns a number, based on the string provided. Here is a list of all digits:

String	Number

"one"	1

"two"	2

"three"	3

"four"	4

"five"	5

"six"	6

"seven"	7

"eight"	8

"nine"	9

"zero"	0


### Examples
* word("one") ➞ 1

* word("two") ➞ 2

* word("nine") ➞ 9

In [ ]:
string_to_number = {"one": 1,"two": 2,"three": 3,"four": 4,"five": 5,"six": 6,"seven": 7,"eight": 8,"nine": 9,"zero": 0}
input_string = "four"
result = None
for key, value in string_to_number.items():
    if key == input_string:
        result = value
        break

print(result)

## 14.Create a function that takes two strings as arguments and returns the number of times the first string (the single character) is found in the second string.

### Examples
* char_count("a", "edabit") ➞ 1

* char_count("c", "Chamber of secrets") ➞ 1

* char_count("b", "big fat bubble") ➞ 4

In [ ]:
char_to_count = "a"  
input_string = "banana"

count = 0

for char in input_string:
    if char == char_to_count:
        count += 1

print(count)

## 15.Create a function that takes a list and a string as arguments and returns the index of the string.

### Examples
* find_index(["hi", "edabit", "fgh", "abc"], "fgh") ➞ 2

* find_index(["Red", "blue", "Blue", "Green"], "blue") ➞ 1

* find_index(["a", "g", "y", "d"], "d") ➞ 3
* find_index(["Pineapple", "Orange", "Grape", "Apple"], "Pineapple") ➞ 0

In [ ]:
my_list = ["apple", "banana", "cherry", "date"]
search_string = "cherry"

index = None

for i in range(len(my_list)):
    if my_list[i] == search_string:
        index = i
        break

print(index)

## 16.Create a function which returns the length of a string, without using len().

### Examples
* length("Hello World") ➞ 11

* length("Edabit") ➞ 6

* length("wash your hands!") ➞ 16

In [ ]:
my_string = "Hello, World!"

count = 0

for _ in my_string:
    count += 1

print(count)

In [ ]:
## 17.Create a function that takes a 2D list lst and returns the sum of the minimum value in each row.

### Examples
* sum_minimums([
  [1, 2, 3, 4, 5],
  [5, 6, 7, 8, 9],
  [20, 21, 34, 56, 100]
]) ➞ 26

#minimum value of the first row is 1

#minimum value of the second row is 5

#minimum value of the third row is 20

In [ ]:
lst = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
sum_of_min = 0

for row in lst:
    min_value = min(row)
    sum_of_min += min_value

print(sum_of_min)

## 18.Given a letter and a list of words, return whether the letter does not appear in any of the words.

### Examples
* forbidden_letter("r", ["rock", "paper", "scissors"]) ➞ False
* forbidden_letter("a", ["spoon", "fork", "knife"]) ➞ True

* forbidden_letter("m", []) ➞ True

In [ ]:
letter = 'x'
word_list = ['apple', 'banana', 'cherry', 'date']

letter_not_found = True

for word in word_list:
    if letter in word:
        letter_not_found = False
        break 


if letter_not_found:
    print(True)
else:
    print(False)

## 19.Create a function that finds each factor of a given number n. Your solution should return a list of the number(s) that meet this criteria.

### Examples
* find_factors(9) ➞ [1, 3, 9]
#9 has three factors 1, 3 and 9

* find_factors(12) ➞ [1, 2, 3, 4, 6, 12]

* find_factors(20) ➞ [1, 2, 4, 5, 10, 20]

* find_factors(0) ➞ []
#0 has no factors

In [ ]:
n = 12

factors = []


for i in range(1, n + 1):
    if n % i == 0:
        factors.append(i)

print(factors)

## 20.Given a string, create a function to reverse the case. All lower-cased letters should be upper-cased, and vice versa.

### Examples
* reverse_case("Happy Birthday") ➞ "hAPPY bIRTHDAY"

* reverse_case("MANY THANKS") ➞ "many thanks"

* reverse_case("sPoNtAnEoUs") ➞ "SpOnTaNeOuS"

In [ ]:
input_string = "Hello, World!"

result_string = ""

for char in input_string:
    if char.isupper():
        result_string += char.lower()
    elif char.islower():
        result_string += char.upper()
    else:
        result_string += char 

print(result_string)

## 21.Create a function that returns the number of hashes and pluses in a string.

### Examples
* hash_plus_count("###+") ➞ [3, 1]

* hash_plus_count("##+++#") ➞ [3, 3]

* hash_plus_count("#+++#+#++#") ➞ [4, 6]

* hash_plus_count("") ➞ [0, 0]

In [3]:
input_string = "##+++###++"
hash_count = 0
plus_count = 0


for char in input_string:
    if char == '#':
        hash_count += 1
    elif char == '+':
        plus_count += 1

print(hash_count,plus_count)

5 5

## 22.Given a one word lowercase string txt, return another string such that even-indexed and odd-indexed characters are grouped and groups are space-separated.

### Examples
* even_odd_string("mubashir") ➞ "mbsi uahr"
#Letters at even indexes = "mbsi"

#Letters at odd indexes = "uahr"

#Join both strings with a space

* even_odd_string("edabit") ➞ "eai dbt"

* even_odd_string("airforce") ➞ "aroc ifre"

In [ ]:
txt = "hello" 
even_chars = ""
odd_chars = ""

for i in range(len(txt)):
    if i % 2 == 0:
        even_chars += txt[i]
    else:
        odd_chars += txt[i]

result = even_chars + " " + odd_chars

print(result)

## 23.Create a function which returns the total of all odd numbers up to and including n. n will be given as an odd number.

### Examples
* add_odd_to_n(5) ➞ 9
#1 + 3 + 5 = 9

* add_odd_to_n(13) ➞ 49

* add_odd_to_n(47) ➞ 576

In [ ]:
n = 7
total = 0
for i in range(1, n + 1, 2):
    total += i
print(total)

## 24.Create a function that takes a number n and returns the sum of all square numbers up to and including n.

## squares_sum(3) ➞ 14
## 1² + 2² + 3² =
## 1 + 4 + 9 =
## 14
### Examples
* squares_sum(3) ➞ 14

* squares_sum(12) ➞ 650

* squares_sum(13) ➞ 819

In [ ]:
n = 10
sum_of_squares = 0

for i in range(1, n + 1):
    square = i * i
    if square <= n:
        sum_of_squares += square

print(sum_of_squares)

## 25.Given a list of numbers, negate all elements contained within.

## Negating a positive value -+n will return -n, because all +'s are removed.
## Negating a negative value --n will return n, because the first - turns the second minus into a +.
### Examples
* negate([1, 2, 3, 4]) ➞ [-1, -2, -3, -4]

* negate([-1, 2, -3, 4]) ➞ [1, -2, 3, -4]

* negate([]) ➞ []

In [ ]:
numbers = [1, -2, 3, -4, 5]

for i in range(len(numbers)):
    if numbers[i] > 0:
        numbers[i] = -numbers[i]
    elif numbers[i] < 0:
        numbers[i] = abs(numbers[i])  

print(numbers)

## 26.A number added with its additive inverse equals zero. Create a function that returns a list of additive inverses.

### Examples
* additive_inverse([5, -7, 8, 3]) ➞ [-5, 7, -8, -3]

* additive_inverse([1, 1, 1, 1, 1]) ➞ [-1, -1, -1, -1, -1]

* additive_inverse([-5, -25, 35]) ➞ [5, 25, -35]

In [ ]:
numbers = [1, 2, -3, 4, -5]

additive_inverses = []

for number in numbers:
    additive_inverses.append(-number)

print(additive_inverses)

## 27.Write a function that takes the last number of a consecutive list of numbers and returns the total of all numbers up to and including it.

### Examples
* add_up_to(3) ➞ 6
#1 + 2 + 3 = 6

* add_up_to(10) ➞ 55
#1 + 2 + 3 + ... + 10 = 55

* add_up_to(7) ➞ 28
#1 + 2 + 3 + ... + 7 = 28

In [ ]:
last_number = 5
total = 0
for i in range(1, last_number + 1):
    total += i
print(total)

## 28.Create a function that takes two parameters (start, stop), and returns the sum of all even numbers in the range.

###  Examples
* sum_even_nums_in_range(10, 20) ➞ 90
#10, 12, 14, 16, 18, 20

* sum_even_nums_in_range(51, 150) ➞ 5050

* sum_even_nums_in_range(63, 97) ➞ 1360

In [4]:
start = 1
stop = 10

total = 0
for num in range(start, stop + 1):
    if num % 2 == 0:  
        total += num
print(total)

30

## 29.A palindrome is a word that is identical forward and backwards.

## mom
## racecar
## kayak
## Given a word, create a function that checks whether it is a palindrome.

### Examples
* is_palindrome("mom") ➞ True

* is_palindrome("scary") ➞ False

* is_palindrome("reviver") ➞ True

* is_palindrome("stressed") ➞ False

In [ ]:
word = "racecar"
is_palindrome = True

for i in range(len(word)):
    if word[i] != word[len(word) - i - 1]:
        is_palindrome = False
        break
if is_palindrome:
    print(f"{word} is a palindrome.")
else:
    print(f"{word} is not a palindrome.")

## 30.Implement a function that returns a list containing all the consecutive numbers in ascendant order from the given value low up to the given value high (bounds included).

### Examples
* get_sequence(1, 5) ➞ [1, 2, 3, 4, 5]

* get_sequence(98, 100) ➞ [98, 99, 100]

* get_sequence(1000, 1000) ➞ [1000]

In [ ]:
low = 3
high = 8

consecutive_numbers = []

for num in range(low, high + 1):
    consecutive_numbers.append(num)

print(consecutive_numbers)

## 31.Create a function that finds the index of a given item.

### Examples
* search([1, 5, 3], 5) ➞ 1

* search([9, 8, 3], 3) ➞ 2

* search([1, 2, 3], 4) ➞ -1

In [ ]:
input_list = [int(x) for x in input("Enter a list of numbers separated by spaces: ").split()]
search_item = int(input("Enter the item to search: "))

index = -1
for i in range(len(input_list)):
    if input_list[i] == search_item:
        index = i
        break
        
if index != -1:
    print("Item found at index:", index)
else:
    print("Item not found in the list.")

## 32.Given a string of letters, how many capital letters are there?

### Examples
* capital_letters("fvLzpxmgXSDrobbgMVrc") ➞ 6

* capital_letters("JMZWCneOTFLWYwBWxyFw") ➞ 14

* capital_letters("mqeytbbjwqemcdrdsyvq") ➞ 0

In [ ]:
input_string = input("Enter a string: ")

capital_count = 0
for char in input_string:
    if char.isupper():
        capital_count += 1

print("Number of capital letters:", capital_count)

## 33.Create a function that takes a number num and returns the first 10 multiples of num with 1 added to it, separated by commas.

### Examples
* n_tables_plus_one(7) ➞ "8,15,22,29,36,43,50,57,64,71"

* n_tables_plus_one(1) ➞ "2,3,4,5,6,7,8,9,10,11"

* n_tables_plus_one(3) ➞ "4,7,10,13,16,19,22,25,28,31"

In [ ]:
num = int(input("Enter a number: "))

multiples = []
for i in range(1, 11):
    multiples.append(str(num * i + 1))

result = ", ".join(multiples)
print(result)

## 34.This is a reverse coding challenge. Normally you're given explicit directions with how to create a function. Here, you must generate your own function to satisfy the relationship between the inputs and outputs.

Your task is to create a function that, when fed the inputs below, produces the sample outputs shown.

### Examples
* [5, 7, 8, 2, 1], 2 ➞ [1, 1, 0, 0, 1]

* [9, 8, 16, 47], 4 ➞ [1, 0, 0, 3]

* [17, 11, 99, 55, 23, 1], 5 ➞ [2, 1, 4, 0, 3, 1]

* [6, 1], 7 ➞ [6, 1]

* [3, 2, 9], 3 ➞ [0, 2, 0]

* [48, 22, 0, 19, 33, 100], 10 ➞ [8, 2, 0, 9, 3, 0]

In [ ]:
input_list = [17, 11, 99, 55, 23, 1]
divisor = int(input("Enter the divisor: "))

remainders = []
for num in input_list:
    remainder = num % divisor
    remainders.append(remainder)

print("Remainders:", remainders)

## 35.The insurance guy calls again. Apparently, they were informed by your spouse that some items were not stolen at all and you failed to mention this detail to them. This is a fraud attempt! You freeze and mumble something unintelligible. Find out what you said.

### Given a dictionary, return a string that concatenates all the values and adds the 2nd key at the end. Make sure you keep an empty space between them but not at the beginning or end of the string. Look at the examples for a clearer picture.

#### Examples
* { 1: "Mommy", 2: "please", 3: "help" } ➞ "Mommy please help please"

* { 1: "Me", 2: "innocent", 3: "is" } ➞ "Me innocent is innocent"

* { 1: "Must", 2: "lawyer", 3: "call" } ➞ "Must lawyer call lawyer"

In [ ]:
input_dict = {"1": "Mommy", "2": "please", "3": "help"} 
result = ""
index = 1

for key, value in input_dict.items():
    result += value
    if index == 2:
        result += input_dict["2"]
    result += " "
    index += 1

print(result.strip())

## 36.Create a function that adds a string ending to each member in a list.

## Examples
* add_ending(["clever", "meek", "hurried", "nice"], "ly")
➞ ["cleverly", "meekly", "hurriedly", "nicely"]

* add_ending(["new", "pander", "scoop"], "er")
➞ ["newer", "panderer", "scooper"]

* add_ending(["bend", "sharpen", "mean"], "ing")
➞ ["bending", "sharpening", "meaning"]

In [ ]:
input_list = ["new", "pander", "scoop"]
ending = input("Enter the ending to add: ")
result = []

for item in input_list:
    result.append(item + ending)

print(result)

## 37.Create a function that takes a list of numbers and returns the sum of its cubes.

### Examples
* sum_of_cubes([1, 5, 9]) ➞ 855

#Since 1^3 + 5^3 + 9^3 = 1 + 125 + 729 = 855

* sum_of_cubes([3, 4, 5]) ➞ 216

* sum_of_cubes([2]) ➞ 8

* sum_of_cubes([]) ➞ 0

In [ ]:
input_list = [int(x) for x in input("Enter a list of numbers separated by spaces: ").split()]

sum_of_cubes = 0

for num in input_list:
    sum_of_cubes += num ** 3

print("Sum of cubes:", sum_of_cubes)

## 38.Create a function that returns the minimum number of elements removed to make the sum of all elements in a list even.

### Examples
* minimum_removals([1, 2, 3, 4, 5]) ➞ 1

* minimum_removals([5, 7, 9, 11]) ➞ 0

* minimum_removals([5, 7, 9, 12]) ➞ 1

In [ ]:
input_list = [int(x) for x in input("Enter a list of numbers separated by spaces: ").split()]
sum_of_elements = sum(input_list)
count_odd = 0
count_even = 0

for num in input_list:
    if num % 2 == 0:
        count_even += 1
    else:
        count_odd += 1

min_elements_to_remove = min(count_odd, count_even)

print("Minimum elements to remove:", min_elements_to_remove)

## 39.Create a function that takes a number as an argument and returns a list of numbers counting down from this number to zero.

### Examples
* countdown(5) ➞ [5, 4, 3, 2, 1, 0]

*  countdown(1) ➞ [1, 0]

* countdown(0) ➞ [0]

In [ ]:
num = int(input("Enter a number: "))
count_down_list = []

for i in range(num, -1, -1):
    count_down_list.append(i)

print(count_down_list)

## 40.Create a function that takes a string road and returns the car that's in first place. The road will be made of "=", and cars will be represented by letters in the alphabet.

### Examples
* first_place("====b===O===e===U=A==") ➞ "A"

* first_place("e==B=Fe") ➞ "e"

* first_place("proeNeoOJGnfl") ➞ "l"

In [ ]:
road = input("Enter the road string: ")
first_car = ""

for char in road:
    if char.isalpha():
        first_car = char
        break

if first_car:
    print("Car in first place:", first_car)
else:
    print("No cars on the road.")

## 41.When resistors are connected together in series, the same current passes through each resistor in the chain and the total resistance, RT, of the circuit must be equal to the sum of all the individual resistors added together. That is:

###  RT = R1 + R2 + R3 ...Create a function that takes an array of values resistance that are connected in series, and calculates the total resistance of the circuit in ohms. The ohm is the standard unit of electrical resistance in the International System of Units ( SI ).

### Examples
* series_resistance([1, 5, 6, 3]) ➞ "15 ohms"

* series_resistance([16, 3.5, 6]) ➞ "25.5 ohms"

* series_resistance([0.5, 0.5]) ➞ "1.0 ohm"

In [ ]:
resistances = [16, 3.5, 6]

total_resistance = 0

for resistance in resistances:
    total_resistance += resistance

print(f"{total_resistance:.1f} ohms")

## 42.Create a function which concatenates the number 7 to the end of every chord in a list. Ignore all chords which already end with 7.

### Examples
* jazzify(["G", "F", "C"]) ➞ ["G7", "F7", "C7"]

* jazzify(["Dm", "G", "E", "A"]) ➞ ["Dm7", "G7", "E7", "A7"]

* jazzify(["F7", "E7", "A7", "Ab7", "Gm7", "C7"]) ➞ ["F7", "E7", "A7", "Ab7", "Gm7", "C7"]

* jazzify([]) ➞ []

In [ ]:
chords = ["Dm", "G", "E", "A"]
result_chords = []

for chord in chords:
    if not chord.endswith("7"):
        chord += "7"
    result_chords.append(chord)

print(result_chords)

## 43.Create a function that returns a base-2 (binary) representation of a base-10 (decimal) string number. To convert is simple: ((2) means base-2 and (10) means base-10) 010101001(2) = 1 + 8 + 32 + 128.

### Going from right to left, the value of the most right bit is 1, now from that every bit to the left will be x2 the value, value of an 8 bit binary numbers are (256, 128, 64, 32, 16, 8, 4, 2, 1).

### Examples
* binary(1) ➞ "1"
#1*1 = 1

* binary(5) ➞ "101"
#1*1 + 1*4 = 5

* binary(10) ➞ "1010"
#1*2 + 1*8 = 10

In [ ]:
decimal_number = int(input("Enter a base-10 decimal number: "))
binary_representation = ""

for _ in range(decimal_number.bit_length()):
    remainder = decimal_number % 2
    binary_representation = str(remainder) + binary_representation
    decimal_number = decimal_number // 2

print("Binary representation:", binary_representation)

## 44.Create a function that takes a string and returns the number (count) of vowels contained within it.

### Examples
* count_vowels("Celebration") ➞ 5

* count_vowels("Palm") ➞ 1

* count_vowels("Prediction") ➞ 4

In [ ]:
input_string = input("Enter a string: ")
vowel_count = 0

for char in input_string:
    if char.lower() in "aeiou":
        vowel_count += 1

print("Number of vowels:", vowel_count)

## 45.Create a function that takes a list and finds the integer which appears an odd number of times.

### Examples
* find_odd([1, 1, 2, -2, 5, 2, 4, 4, -1, -2, 5]) ➞ -1

* find_odd([20, 1, 1, 2, 2, 3, 3, 5, 5, 4, 20, 4, 5]) ➞ 5

* find_odd([10]) ➞ 10

In [ ]:
num_list = [int(x) for x in input("Enter a list of integers separated by spaces: ").split()]
odd_appearing_integer = None

for num in num_list:
    if num_list.count(num) % 2 == 1:
        odd_appearing_integer = num
        break

print("Integer that appears an odd number of times:", odd_appearing_integer)

## 46.Hamming distance is the number of characters that differ between two strings.

### To illustrate:     String1: "abcbba"    ,String2: "abcbda"
### Hamming Distance: 1 - "b" vs. "d" is the only difference.Create a function that computes the hamming distance between two strings.

### Examples
* hamming_distance("abcde", "bcdef") ➞ 5

* hamming_distance("abcde", "abcde") ➞ 0

* hamming_distance("strong", "strung") ➞ 1

In [ ]:
string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")
hamming_distance = 0

for i in range(len(string1)):
    if string1[i] != string2[i]:
        hamming_distance += 1

print("Hamming Distance:", hamming_distance)

## 47.Create a function that takes a list of non-negative integers and strings and return a new list without the strings.

### Examples
* filter_list([1, 2, "a", "b"]) ➞ [1, 2]

* filter_list([1, "a", "b", 0, 15]) ➞ [1, 0, 15]

* filter_list([1, 2, "aasf", "1", "123", 123]) ➞ [1, 2, 123]

In [ ]:
input_list = input("Enter a list of non-negative integers and strings separated by commas: ").split(",")
filtered_list = []

for item in input_list:
    if isinstance(item, int) and item >= 0:
        filtered_list.append(item)

print("Filtered list:", filtered_list)

## 48.Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.

### Examples
* filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

* filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

* filter_list(["Nothing", "here"]) ➞ []

In [ ]:
input_list = eval(input("Enter a list of strings and integers: "))
filtered_list = []

for item in input_list:
    if isinstance(item, int):
        filtered_list.append(item)

print("Filtered list of integers:", filtered_list)

## 49.Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...

### Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [ ]:
input_list = eval(input("Enter a list of numbers: "))
result_list = []

for index, value in enumerate(input_list):
    result_list.append(value + index)

print("Resulting list with added indexes:", result_list)

## 50.This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are:1, 3, 6, 10, 15      This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.          Write a function that returns the number of dots when given its corresponding triangle number of the sequence.

### Examples
* triangle(1) ➞ 1

* triangle(6) ➞ 21

* triangle(215) ➞ 23220

In [3]:
n = int(input("Enter the triangle number: "))
num_dots = 0

for i in range(1, n + 1):
    num_dots += i

print("Number of dots:", num_dots)

Enter the triangle number: 5
Number of dots: 15